.errorbtn{
  
    border: none;
    border-radius: 1.5rem;
    min-width: 100px;
    max-width: 200px;
    padding:8px; 
    font-weight: 600;
    color: #6c757d;
    background-color: #abb5be6c;
    cursor: pointer;
}
.errorbtn:hover {
    background-color: #8d8d8d;
    color: white;
  }