.googleSignin{
  width: 70%;
  background-color: rgba(235, 2, 2, 0.733);
  color: white;
  border-radius: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.267);
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in;
  display: inline-block;
}
.buttonContainer{
  text-align: center !important;
  align-content: center !important;
  align-items: center !important;

}
.googleSignin:hover{
  box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.493);

}
.facebookSignin{
  width: 70%;
  background-color: rgba(1, 45, 139, 0.795);
  color: white;
  border-radius: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.267);
  font-size: 20px;
  margin: 5px;
  transition: box-shadow 0.2s ease-in;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
}
.facebookSignin:hover{
  box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.493);


}
.awsomeicon{
  float: left;
  margin-top: 5px;
}