.userContainer{
    background-color: white;
    padding: 30px;
    padding-top: 100px;
    margin: 5px;
    overflow: auto;
    /* max-width: 900px; */
    min-width: 320px;
    
}
.table{
    font-size: 80%;
}