.toppanelContainer{
    
    display: flex;
    flex-wrap: wrap;


}
.icon{
    
    width: 100px;
    padding: 5px;
    color: blueviolet;
    text-shadow: 0 0 10px 10px violet;
}
.vl {
    border-left:2px solid rgb(204, 204, 204);
    height: auto;
 width: 2px;
    left: 50%;
    /* margin-left: -3px; */
    top: 0;
  }

  .greetingText{
      
      font-size: 100%;
      padding: 10px;
      min-width: 240px;
      max-width: 240px;
  }
  .info{
      min-width: 320px;
      width:658px;
      margin-left: 10px;
  }
  .greetingContainer{
      min-width: 320px;
      max-width: 300px;
      /* width: 350px; */
      display: flex;
  }
  .steplist{
      
      font-size: 80%;
      display: flex;
      flex-wrap:wrap; 
  }
  .steplist>li{
      width: 200px;
      margin-right: 20px;
  }