/* .cardIcon {
    background-color: ;
    width: 300px;
    height: 300px;
} */

.methodCard {
    margin: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.225);
    transition: box-shadow 0.3s ease-in;
    overflow: hidden;
    cursor: pointer;
    color: rgb(0, 0, 255);
    /* transition: color 0.2s ease-in; */
    min-height: 450px;
    max-height: 500px;
    border-radius: 10px;
}

.methodCard:hover {
    box-shadow: 5px 2px 8px 0 rgba(0, 0, 0, 0.225);
    color: rgb(48, 3, 212);
}



.cardimg {
    transform: scale(0.8);
    transition: transform 0.2s ease-in;
}

.cardimg:hover {
    transform: scale(1);
}