.pack{
border-radius: 10px;
cursor: pointer;
box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.225);
transition: box-shadow 0.3s ease-in;
padding: 10px;
min-width: 260px;
max-width: 320px;
}


.packageCardTitle{
    color: rgba(2, 2, 194, 0.89);
}
.packDataList{
list-style: none;
display: flex;
flex-direction: column;

}
.packDataList>li{
    margin-left: 0px;
    margin-right: 5px;
    
}
.pack:hover{
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.225);
   
}
.cardDataTitle{
    color:rgb(63, 131, 69) !important;
    float: left;
}
.cardDataData{
    color: rgba(89, 100, 252, 0.822) !important;
    float:right;
    font-weight: bold;
}