
.invoiceHeader{
    background-color: rgba(177, 176, 176, 0.637);
    color: rgb(3, 3, 212);
    padding: 5px;
    border-radius: 5px;
    min-width:265px;
    max-width: 750px;
}
.list{
    display: flex;
    flex-direction: column;
    min-width: 265px;
    max-width: 700px;;
   
}
.invoiceDetails{
  
    
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid rgb(165, 165, 165);
    float: left;
}
.invoiceData{
    min-width: 50px;
    /* max-width: 500px; */
    float: right;
    font-weight: bold;
}
.invoiceContainer{
    min-width: 265px;
    max-width: 725px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.473);
    align-content: center;
    background-color: white;
}
.payCardBtn{
    border: none;
    border-radius: 1.5rem;
    min-width: 100px;
    max-width: 200px;
    padding: 8px;;
    font-weight: 500;
    color: #6c757d !important;
    background-color: #c8cbce !important;
    cursor: pointer;
}
.paymentCard{
min-width: 250px;
max-width: 500px;
border-radius: 10px;
min-height: 192px;
margin-top:10px;
margin-bottom: 10px;

}
.paymentCardTitle{
    color: rgb(3, 3, 212);
}

