.div {
    margin-top: 80px;
}

.title {
    width: 100%;
    color: #ffffff;
}

.fromContainer {
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    margin: 10px;
}

.sidelist {
    background-color: white;
    border-radius: 10px;
    width: 10%;
    margin: 10px;
}

.methodCard {
    /* background-color: rgb(4,137,250,1); */
    border-radius: 8px;
    padding: 10px;
    color: rgb(4, 137, 250, 1);
    cursor: pointer;
}

.methodCard:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
}

.formdiv {
   
   
    background-color: rgb(223, 223, 223);
    color: black;
    text-align: left;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.225);
    padding: 10px;
    border-radius: 5px;
    transition: box-shadow 500ms;
    cursor: pointer;
    margin-bottom: 10px;

    align-content: center;
    
}

.formdiv:hover {
    background-color: rgb(231, 231, 231);
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.3);
}

.formdivOpen {
    background-color: rgb(255, 255, 255);

    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.3);
}

.flex-container {
    /* display: flex; */
    flex-wrap: wrap;
    display: inline-flex;
}

.startCampContainer {
    /* width: 50%; */
    
    min-width: 320px;
    max-width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-top: 0px;
    margin-left: 20px;
    background-color: #f1f1f1;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.225)

    /* width: 60%; */
    /* text-align: center; */
    /* line-height: 75px; */
    /* font-size: 30px; */
}

.cardcontainer {
    /* width:300px; */
    min-width: 320px;
    max-width: 98.5%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    margin-top: 0px;
 margin-left: 20px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.225)
    /* background-color: #f1f1f1; */
    /* width: 267px; */
    /* margin: 10px; */
    /* text-align: center; */
    /* line-height: 75px; */
    /* font-size: 30px; */
}

.formContainer {
    min-width: 320px;
    align-content: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.btn-next{
    border: none;
    border-radius: 1.5rem;
    min-width: 100px;
    max-width: 200px;
    margin: 5px;
    padding: 5px;
    font-weight: 400;
    /* color: #6c757d !important; */
    /* background-color: #c8cbce !important; */
    cursor: pointer;
}