.frontContainerCard{
  color: blue !important;
  margin-top: 30px !important;
  overflow: hidden;
}
.frontContainerCard2{
  color: blue !important;
  margin-top: 30px !important;
  overflow: hidden;
  margin-top: 0px !important;
  color: white !important;
  text-align: right;
  text-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.884) !important;
}
.frontbu {
  background-color: white;
  border-radius: 20px;
  color: rgb(0, 123, 255);
  margin-top: 10px;
  font-weight: 800;
  padding: 5px;
  /* font-size:; */

  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.253);
  transition: box-shadow 0.2s ease-in;
  border: 2px solid rgb(0, 123, 255);
}

.frontbu:hover {
  background-color: rgb(0, 123, 255);
  border: 2px solid rgb(0, 123, 255);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.582);
  color: white;
}

.fronttextoverlay {
  font-size: 25px;
  color: rgb(0, 123, 255);
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0);
}

.fronttextoverlayTitle {
  font-size: 50px;
  font-weight: bold;
  color: rgb(0, 123, 255);
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0);
}
.fronttextoverlay2{
  color: white !important;
  text-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.781);
}
@media screen and (min-width: 320px) {
  .fronttextoverlayTitlesmall {
    font-size: 45px;
  }
  .frontimg {
    /* transform: scale(0.8); */
    min-width: 800px;
  }
}
.frontimg2{
  transform: scaleX(-1);
  min-width: 800px;
  zoom: 2;
}
.card2Text{
 text-align: right;
 text-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.781);
}
