.nav{
    position:fixed;
    width: 100%;
}
.signinbtn{
    border: 2px solid rgb(0, 123, 255);
    border-radius: 8px;
    color: rgb(0, 123, 255) !important;
    margin-right: 10px;
    margin-left: 10px;
}
.registerbtn{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.459);
    transition: box-shadow 0.2s ease-in;
    background-color: rgb(0, 123, 255);
    border: 2px solid rgb(0, 123, 255);
    border-radius: 8px;
    color: white !important;
    margin-right: 10px;
    margin-left: 10px;
}
.registerbtn:hover{
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.459);

}
