body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 120%;
  background: rgb(4, 137, 250);
  background: linear-gradient(90deg, rgb(204, 204, 204) 3%, rgb(247, 247, 247) 55%, rgb(206, 206, 206) 88%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  background-color: white;
  border-radius: 10px;
  margin-top: 100px;
  padding: 50px;
}
.containerDashboard {

  /* min-width: 320px; */
  /* max-width: 1100px; */
  background-color: white;
  border-radius: 10px;
  margin-top: 60px;
  padding: 50px;
  min-height: 800px;
  overflow: auto;
}
.roundimg {
  border-radius: 50%;
}

.fromContainer {
  background-color: white;
  border-radius: 10px;
  padding: 100px;
  margin: 10px;
}

.cardbutton {
  align-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 1.5rem;
  width: 60%;
  min-width: 100px;
  padding:8px; 
  font-weight: 600;
  color: #6c757d;
  background-color: #abb5be6c;
  cursor: pointer;
}

.cardbutton:hover {
  background-color: #0e869b;
}

.signin {
  border: none;
  text-align: center;
  /* z-index: 2; */
  margin-top: 50px;
  position: fixed;
  background-color: rgba(44, 44, 44, 0.404);
  align-content: center;
  top: 0;
  box-shadow: -20px -26px 300px 82px rgba(0, 0, 0, 0.64);
  overflow: auto;
  
  /* -webkit-box-shadow: -20px -26px 300px 82px rgba(0,0,0,0.64); */
  /* -moz-box-shadow: -20px -26px 300px 82px rgba(0,0,0,0.64); */
}

.signinCard {
  max-width: 450px;
  
}

.greetingCardMorning {
  background-image: url("morning.webp");
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 8px black;
}

.greetingCardNight {
  background-image: url("night.webp");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 2px 2px 8px black;
}

.paymentLoading {
  padding-top: 20%;
  height: 500px;
  text-align: center;
  
}

.paymentSpinner {
  width: 80px;
  height: 80px;
}
.navigation{
  font-size: 90%;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
padding-bottom: 5px;
  transition: background-color 0.2s ease-in;
}
.navigationSelected {
  background-color: rgba(179, 179, 179, 0.527);
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 44px;
  padding-bottom: 10px;

  font-size: 100%;
}
.profileDropDown{
  background-color: none;
  border: 2px solid rgb(81, 125, 163);
  border-radius: 100px;
  transition: background-color 0.2s ease-in;
}
.profileDropDown:hover {
  background-color: rgba(179, 179, 179, 0.527);
  border-radius: 100px;
 
}
.profileDropDown:active{
  background-color: rgba(179, 179, 179, 0.527);

}
.dropdownMenu{
  height: 98px;
  box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.64);
}
.infoPannel {
  background-color: #0084f700 !important;
  text-shadow: none;
}
.navicon{
  margin-top: 8px;
  margin-right: 5px;
}

